<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.pinterior.dao.CommentDao">

    <!-- 댓글 등록 -->
    <insert id="insert" parameterType="com.mycompany.pinterior.entity.Comment">
        <selectKey keyProperty="commentId" resultType="long" order="BEFORE">
            SELECT comment_seq.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO comment (comment_id, user_id, pin_id, comment_content, created_at)
        VALUES (#{commentId}, #{userId}, #{pinId}, #{commentContent}, SYSDATE)
    </insert>

    <!-- 댓글 단건 조회 -->
    <select id="selectById" parameterType="long" resultType="com.mycompany.pinterior.entity.Comment">
        SELECT comment_id, user_id, pin_id, comment_content, created_at, update_at
        FROM comment
        WHERE comment_id = #{commentId}
    </select>

</mapper>