<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.pinterior.dao.PinDao">

	<insert id="insert"
		parameterType="com.mycompany.pinterior.entity.Pin">
		INSERT INTO pin (pin_id, title, description, image_url,
		link_url,
		created_at)
		VALUES (pin_seq.NEXTVAL, #{title}, #{description},
		#{imageUrl}, #{linkUrl},
		SYSDATE)
	</insert>

	<!-- ===== 김효: 전체 핀 목록 조회 ===== -->
	<select id="selectList"
		resultType="com.mycompany.pinterior.dto.PinSummaryDto">
		SELECT
		pin_id,
		image_url,
		title,
		NULL AS board_id, <!-- TODO: saved_pin 테이블 
			생성 후 서브쿼리로 변경 -->
		created_at
		FROM pin
		WHERE 1=1
		<if test="cursorId != null">
			AND pin_id &lt; #{cursorId}
		</if>
		ORDER BY pin_id DESC
		FETCH FIRST #{size} ROWS ONLY
	</select>

	<update id="update"
		parameterType="com.mycompany.pinterior.entity.Pin">
		UPDATE pin
		SET title = #{title},
		description =
		#{description},
		link_url = #{linkUrl},
		image_url = #{imageUrl},
		updated_at = SYSDATE
		WHERE pin_id = #{pinId}
		AND user_id = #{userId}
	</update>

	<select id="selectById" parameterType="int"
		resultType="com.mycompany.pinterior.entity.Pin">
		SELECT pin_id, user_id, title, description, image_url,
		link_url, created_at,
		updated_at
		FROM pin
		WHERE pin_id = #{pinId}
	</select>

</mapper>