<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.pinterior.dao.SavedPinDao">

	<insert id="insert"
		parameterType="com.mycompany.pinterior.entity.SavedPin">
		<selectKey keyProperty="savedPinId" resultType="long"
			order="BEFORE">
			SELECT saved_pin_seq.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO saved_pin (saved_pin_id, user_id, pin_id, board_id,
		created_at)
		VALUES (#{savedPinId}, #{userId}, #{pinId}, #{boardId},
		SYSDATE)
	</insert>

	<select id="countDuplicate" resultType="int">
		SELECT COUNT(*)
		FROM saved_pin
		WHERE user_id = #{userId}
		AND pin_id =
		#{pinId}
		<choose>
			<when test="boardId == null">
				AND board_id IS NULL
			</when>
			<otherwise>
				AND board_id = #{boardId}
			</otherwise>
		</choose>
	</select>

	<select id="selectBoardOwnerByBoardId" resultType="long">
		SELECT user_id
		FROM board
		WHERE board_id = #{boardId}
	</select>

	<select id="selectUserIdBySavedPinId" resultType="long">
		SELECT user_id
		FROM saved_pin
		WHERE saved_pin_id = #{savedPinId}
	</select>

	<delete id="deleteSavedPin">
		DELETE FROM saved_pin
		WHERE saved_pin_id =
		#{savedPinId}
	</delete>
	
	<select id="selectSavedPinsByUserId">
		SELECT
		sp.saved_pin_id AS saved_pin_id,
		sp.pin_id AS pin_id,
		sp.board_id AS board_id,
		p.image_url AS image_url,
		p.title AS title,
		sp.created_at AS created_at
		FROM saved_pin sp
		JOIN pin p ON sp.pin_id = p.pin_id
		WHERE sp.user_id = #{userId}
	</select>

	<!-- 핀 ID로 저장된 핀 조회 -->
	<select id="selectByPinId" parameterType="long"
		resultType="com.mycompany.pinterior.entity.SavedPin">
		SELECT saved_pin_id, pin_id, board_id, user_id, created_at
		FROM saved_pin
		WHERE pin_id = #{pinId}
	</select>

</mapper>