<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.pinterior.dao.UserDao">

	<select id="findByEmail" parameterType="String" resultType="map">
		SELECT user_id,
		email,
		password,
		nickname,
		profile_img
		FROM users
		WHERE email = #{email}
	</select>

</mapper>